.feynman__link {
  margin: 0;
  position: absolute;
  color: #2f80ed;
  right: 48px;
  top: 50%;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  transition: 0.4s ease-out;
}
.feynman__link:hover {
  opacity: 20%;
}
